.contenedorContacto {
  color: $color-secundario-fondo;
}

.textoMainContacto {
  color: $color-secundario-fondo;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.imagenDisco {
  animation: rotate 2s linear infinite;
}