body {
    background-image: linear-gradient(to bottom, #000000, #1e0011, #290024, #2a003e, #070760);
}


@media (max-width: 768px) {
    .videoYoutube {
        width: 100%;
        height: auto;
    }
}