#myCarousel {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: $tamanio-20px;
    margin-bottom: $tamanio-20px;

}

.carousel-inner img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    #myCarousel {
        max-width: 100%;
    }
}