.contenedorContacto {
  color: $color-secundario-fondo;
}

.textoMainContacto {
  color: $color-secundario-fondo;
}



.mainContacto {
  background-image: linear-gradient(to bottom, #000000, #240716, #3b032c, #4e004b, #560073, #560073, #560073, #560073, #4e004b, #3b032c, #240716, #000000);
}


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.imagenDisco {
  animation: rotate 2s linear infinite;
}