$color-secundario-fondo: beige;
$color-tituloh1: rgb(255, 255, 255);
$color-fondo-body: black;

//map
$tamanios:(
    tamanio-5px: 5px,
    tamanio-10px: 10px,
    tamanio-20px: 20px,
);

$tamanio-5px: 5px;
$tamanio-10px: 10px;
$tamanio-20px: 20px;
